* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #E5E5E5;
    --background-black:#19191B;

    --color-black:#000000;
    --color-gray: #666666;
    --color-white:#FFFFFF;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--background);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



.header {
    width: 100%;
    max-width: 1450px;
    display: grid;
    grid-template-columns: 1fr 300px;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 10rem;
}

.container-logo {
    display: flex;
    align-items: center;
    width: 200px;
    gap:0.5rem;
}

.container-logo > img {
    width: 20%;
}

.container-logo > p, span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-black);
    text-transform: uppercase;
    line-height: 20px;
}

.container-logo > p span {
    font-weight: 600;
}

.navbar ul { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center; 

    gap: 1rem;
}

.navbar .nav-btn > a {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.navbar .nav-btn, .container-text > .container-btn button {
    width: 134px;
    height: 52px;
    border: none;
    border-radius: 12px;
    background-color: var(--background-black);
    padding: 1rem;

    cursor: pointer;
}

.navbar ul li > a {
    display: inline-block;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);

}

.navbar ul li.nav-btn > a {
    font-weight: 600;
    color: var(--color-white);
}


.wrapper {
    max-width: 1450px;
    padding: 5rem 10rem 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;

}

.container-text {
    width: 360px;   
}

.container-text > h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 68px;
    margin-bottom: 0.5rem;
}

.container-text > p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-gray);
}

.container-text .container-btn {
    margin-top: 1.2rem;
}

.container-text .container-btn > button {
    color: var(--color-white);
}


.footer > div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem 10rem;
}

.footer > div p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-black);
    text-transform: uppercase;
}